    * {
        padding: 0;
        margin: 0;
    }

    /* .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); } */

    .boss {
      border: 1px solid black;
      padding: 10%;
      align-items: center;
      background-color: #121212;
    }
    .small-container {
      /* border: 1px solid blue; */
      color: #fff;
      font-weight: bold;
      background: #343434;
      width: 30%;
      border-radius: 5%;
      height: 90vh;
      margin: auto;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px;  
    }
    .image img {
      height: 200px;
      width: 200px;
      border-radius: 50%;
      display: block;
      margin:  auto;
      /* size: 20%;    */
      /* object-fit: fill; */
    }
    
    .bot {
      gap: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .button {
      /* border: 1px solid black; */
      border-radius: 10px;  
      padding: 10px;
      background: #525151;
      cursor: pointer;
      z-index: 1;
      border: none;
      position: relative;
      transition: all 0.5s;
    }
    .button::before,
    .button::after {
      content: "";
      position: absolute;
      z-index: -1;
    }
    .button:hover {
      background: #f6e05e;
      box-shadow: 0 0 5px #958f69, 0 0 25px #958f69, 0 0 50px #958f69, 0 0 200px #958f69;
      color: #333;
    }
    /* .button:hover {
      size: 20px;
      background-color: #525151 ;
      box-sizing: border-box;
    } */

